<form method="post" action="{{ path('app_member_guitar_delete', {'id': guitar.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guitar.id) }}">
    <button class="btn">Delete</button>
</form>
