{% extends 'base.html.twig' %}

{% block body %}

    <div class="bg-white">
        <div class="pt-6 lg:grid lg:grid-cols-2 lg:max-w-7xl lg:mx-auto lg:gap-x-8 lg:px-8">
            <!-- Image gallery -->
            <div class="mx-auto max-w-2xl sm:px-6 lg:max-w-full lg:flex lg:justify-center">
                <div class="aspect-h-4 aspect-w-3 overflow-hidden rounded-lg lg:block">
                    <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg" alt="Two each of gray, white, and black shirts laying flat." class="h-full w-full object-cover object-center">
                </div>
            </div>

            <!-- Product info -->
            <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:max-w-full lg:pb-24 lg:pt-16">
                <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Basic Tee 6-Pack</h1>

                <div class="py-10 lg:pt-6">
                    <!-- Description and details -->
                    <div>
                        <h3 class="sr-only">Description</h3>

                        <div class="space-y-6">
                            <p class="text-base text-gray-900">The Basic Tee 6-Pack allows you to fully express your vibrant personality with three grayscale options. Feeling adventurous? Put on a heather gray tee. Want to be a trendsetter? Try our exclusive colorway: &quot;Black&quot;. Need to add an extra pop of color to your outfit? Our white tee has you covered.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}